.customer_content {
  position: relative;
  top: 7%;
}

.date {
  width: 270px;
}

.time {
  position: relative;
  top: 10px;
}

.payment_info {
  position: relative;
}

.info {
  text-align: center;
}

.title_info {
  color: blue;
  font-weight: bold;
}

.details {
  color: dimgray;
}

.redio {
  position: relative;
  left: -20%;
}

.pay {
    position: relative;
    left: 17%;
    top: 58px;
    width: 20%;
}

.down {
  position: relative;
  top: 79px;
}