.txtAdmin {
    position: absolute;
    top: 13%;
    left: 17%;
}

.btnAdmin {
    position: absolute;
    top: 41%;
    left: 64%;
}

.table_content {
    position: absolute;
    right: 4%;
    top: 60%;
}

