.topic {
    position: relative;
    bottom: -82px;
    text-align: center;
    color: #1b0789;
    font-size: 38px;
    font-weight: bold;
}

.welcome_service{
    position: relative;
    top: 58px;
    left: 9%;
    font-size: 31px;
    color: #FF8B13;
    display: inline-block;
}

.about_desc{
    position: relative;
    top: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkgrey;
    display: inline-block;
}

.desc {
    font-size: 18px;
}

.line {
    display: inline-block;
}

.about_image {
    height: 320px;
    border-radius: 28%;
    width: 128%;
}