.topic {
    position: relative;
    bottom: -82px;
    text-align: center;
    color: #1b0789;
    font-size: 38px;
    font-weight: bold;
}

.welcome_service{
    position: relative;
    top: 88px;
    left: 10%;
    font-size: 31px;
    color: #FF8B13;
}

.about_desc{
    position: relative;
    top: 88px;
    left: 10%;
}