.topic {
    position: relative;
    bottom: -41px;
    left: 9%;
    /* text-align: center; */
    color: #f7920e;
    font-size: 38px;
    font-weight: bold;
    display: inline-block;
    text-shadow: 2px 2px #ff0000;
}

.welcome_service{
    position: relative;
    top: 58px;
    left: 9%;
    font-size: 31px;
    color: #1b0789;
    display: inline-block;
}

.about_desc{
    position: relative;
    top: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkgrey;
    display: inline-block;
}

.desc {
    font-size: 17px;
}

.line {
    display: inline-block;
}

.about_image {
    height: 420px;
    border-radius: 100%;
    /* width: 128%; */
    position: relative;
    top: -168px;
    right: 20px;
}