.dash_btn {
    list-style: none;
    text-decoration-line: none;
}

.page_link {
    width: 100%;
    height: 592px;
}

.dash_page {
    padding: 10px;
    box-shadow: rgb(0 0 0 / 5%) 0rem 1.25rem 1.6875rem 0rem;
    margin-bottom: inherit;
    background-color: #222020;
    border-radius: 39px;
}

.page {
    position: relative;
    padding-bottom: 25px;
    right: 21px;
}

.page_icon {
    position: absolute;

}

.dashboard {
    position: relative;
}

.admin {
    position: relative;
}

.driver{
    position: relative;
}

.customer {
    position: relative;
}

.car {
    position: relative;
}

.booking {
    position: relative;
}

.payment {
    position: relative;
}


