.dash_btn {
    list-style: none;
    text-decoration-line: none;
    background-color: #434242;
}

.page_link {
    width: 100%;
    height: 592px;
}

.dash_page {
    padding: 10px;
    background-color: #434242;
}

.page {
    position: relative;
    padding-bottom: 43px;
    right: 21px;
}

.icon1 {
    icon : "fa-solid fa-house-user"
}