.smTitle {
    font-size: 28px;
    color: chocolate;
    text-align: center;
}

.bigTitle {
    color: darkblue;
    font-size: 38px;
    text-align: center;
    text-shadow: 2px 2px #7057ff;
}

.car_item {
    border: 1px solid #7c8a9736;
    padding: 20px;
    border-radius: 5px;
}

.car_img {
    height: 296px;
    width: 100%;
}