.smTitle {
    font-size: 19px;
    color: chocolate;
    text-align: center;
    position: relative;
    bottom: 69px;
}

.bigTitle {
    color: darkblue;
    font-size: 36px;
    text-align: center;
    /* text-shadow: 2px 2px #7057ff; */
    position: relative;
    bottom: 74px;
}

.car_item {
    border: 1px solid #7c8a9736;
    padding: 20px;
    border-radius: 5px;
}

.car_img {
    height: 296px;
    width: 100%;
}

.section_title {
    color: #000d6b;
    font-size: 27px;
    text-align: center;
}

.priceDate {
    font-size: 1.2rem;
    font-weight: 600;
    color: #000d6b;
    position: relative;
    bottom: 35px;
}

.model {
    position: relative;
    bottom: 61px;
    font-size: 15px;
}

.stack {
    position: relative;
    left: 8px;
    bottom: 27px;
}

.btn1 {
    width: 208px;
}